#barra-de-menu {
  background-image: url("../img/bkg2.png");
  background-blend-mode: luminosity;
  background-clip: padding-box;
  background-color: rgb(237, 155, 220);
  margin-top: 10px;
  display: inline-block;
  justify-content: space-around;
  border-radius: 10px 40px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
  text-align: center;
  color: rgb(212, 168, 211);
  z-index: 1000;
  transition: all ease 200ms;
}
#barra-de-menu ul {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#barra-de-menu li {
  padding: 4px 10px;
  cursor: pointer;
  font-size: larger;
  display: inline-block;
  text-decoration: none;
}
#barra-de-menu a {
  color: rgb(55, 53, 15);
  font-family: "ubuntu", sans-serif;
  font-weight: 400;
  border: 1px solid none;
  /* transition: all 300ms; */
  padding: 4px 10px;
  text-decoration: none;
}
#barra-de-menu a:hover {
  /* padding: 4px 20px; */
  background-color: rgba(189, 122, 186, 0.8);
  border-radius: 5px;
  border: 1px solid rgb(243, 229, 243);
  color: rgb(42, 42, 42);
  border-radius: 6px;
}
.atual {
  font-family: fonteH4;
  cursor: none;
  background-color: none;
  color: rgb(62, 61, 61);
}
.atual:hover {
  background-color: none;
}
#menu {
  margin: 0;
  padding: 0;
  display: inline-block;
  visibility: visible;
  /* transition: 300ms ease all; */
}
.btn-hamburguer-container {
  animation: 3s ease hueani 3000ms infinite;
  display: inline-block;
  border: 2px solid gray;
  cursor: pointer;
  visibility: collapse;
  /* transition: all ease 300ms; */
}
.btn-hamburguer-container p {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 1.6rem;
}
@keyframes hueani {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes show-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes show-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 500px) {
  .btn-hamburguer-container {
    align-items: center;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.782);
    color: black;
    font-weight: 900;
    font-size: 30px;
    background-color: rgba(238, 170, 234, 0.9);
    border: 2px rgb(69, 56, 65) solid;
    border-radius: 50px;
    height: 60px;
    padding: 10px;
    position: relative;
    right:7px;
    top: 20px;
    /* width: 60px; */
    visibility: visible; /* transition: all ease 300ms; */
    z-index: 1001;
  }
  .btn-hamburguer-container p {
    align-items: flex-end;
    display: flex;
    height: 100%;
    left: 0px;
    padding: 10px;
    position: relative;
    top: 7px;
    z-index: 1001;
    /* transition: all ease 300ms; */
  }
  #menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    visibility: collapse;
    cursor: pointer;
    width: 100%;
    height: 200px;
    /* right:100vw; */
    bottom: 60px;
    /* transition: all ease 300ms; */
  }
  #menu li {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    position: relative;
    font-size: 1.4rem;
    align-items: center;
    letter-spacing: 1.6px;
    font-weight: 900;
    transition: all ease 200ms;
  }
  #menu:hover {
    transition: 200ms ease all;
    transform: scale(1.02);
  }
  #barra-de-menu {
    position: fixed;
    background-image: none;
    background-color: rgba(237, 207, 235, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border-radius: 5px; */
    border: 2px rgb(197, 157, 164) solid;
    border-radius: 10px 40px 20px;
    right: 15px;
    bottom: 15px;
    visibility: collapse;
    width: 200px;
    height: 300px;
    padding: 6px 6px 19px 6px;
    transition: all ease 200ms;
  }
}
