#barra-de-menu {  
  background-image: url("../imagens/bkg2.png");
  background-blend-mode: multiply;
  background-clip: padding-box;
  background-color: rgb(237, 176, 225);
  margin-top: 10px;
  display: block;
  border-radius: 10px 40px;
  box-shadow: 2px 4px rgba(0,0,0,0.2);
  padding: 10px;
  text-align: center;
  color: rgb(77, 28, 5);;
}
#barra-de-menu ul {
  display: inline-block;
  margin: 0;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#barra-de-menu li {
  padding: 4px 10px;
  cursor: pointer;
  font-size: larger;
  display: inline-block;
  text-decoration: none;
}
#barra-de-menu a{
  color:rgb(55, 53, 15);
  font-family: "ubuntu", sans-serif;
  font-weight: 400;
  border: 1px solid none;
  transition: all 300ms;
  padding: 4px 10px;
  text-decoration: none;
}
#barra-de-menu a:hover{
  padding: 4px 20px;
  background-color: rgba(235, 156, 231,.4);
  border-radius: 5px;
  border: 1px solid rgb(237, 208, 236);
  color: rgb(42, 42, 42);
  border-radius: 6px;
}
.atual{
  font-family: fonteH4;
  cursor: none;
  background-color: none;
  color: rgb(62, 61, 61);
}
.atual:hover{
  background-color: none;
}
ul#menu{
  margin:0; padding: 0;
}
