.dica {
  display: block;
  max-width: 500px;
  width: 96%;
  margin: 1rem auto;
  border-bottom: 1px dotted gray;
}
.dica:last-child{
  border-bottom: none;
}
.dica h2 {
  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 1rem;
  color: rgb(19, 40, 21);
}
.dica p {
  position: relative;
  margin: 0 auto;
  line-height: 1.2;
  text-align: left;
  font-weight: 600;
  font-size: large;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 1rem;
  color: rgb(9, 23, 10);
}
.video_durinho{
  position:relative;
  width:97%;
  
  margin:1rem auto;
}
main {
  margin: 2rem auto;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 98%;
}
#zoiudo {
  width: 100%;
  transform: scale(1);
  justify-content: center;
  align-items: center;
}
#zoiudo:hover {
  cursor: pointer;
  transition: all 500ms;
  transform: scale(2);
}
.voltar {
  transition: 1500ms;
  transform: scale(1);
}
